<div class="widget-statistics">
    <!-- <canvas
    baseChart
    [data]="data"
    [options]="options"
    chartType="line">
  </canvas>  

  <canvas
  baseChart
  [data]="data2"
  [options]="options2"
  chartType="bar">
</canvas>   -->

<!-- src/app/components/stats-direcciones.component.html -->
<h2>Distribución de Tipos de Dirección</h2>

<div class="row gy-4">
    <!-- Pie -->
    <div class="col-12 col-md-6">
      <canvas
        baseChart
        [data]="pieData"
        [options]="pieOptions"
        [type]="'pie'"            
      ></canvas>
    </div>
  
    <!-- Doughnut -->
    <div class="col-12 col-md-6">
      <canvas
        baseChart
        [data]="doughnutData"
        [options]="doughnutOptions"
        [type]="'doughnut'"
      ></canvas>
    </div>
  
    <!-- Bar -->
    <div class="col-12 col-md-6">
      <canvas
        baseChart
        [data]="barData"
        [options]="barOptions"
        [type]="'bar'"
      ></canvas>
    </div>
  
    <!-- Line -->
    <div class="col-12 col-md-6">
      <canvas
        baseChart
        [data]="lineData"
        [options]="lineOptions"
        [type]="'line'"
      ></canvas>
    </div>
  </div> 

</div>