<div class="widget-statistics row g-0">
  <!-- Columna lateral con botones -->
  <div class="col-auto d-flex flex-column align-items-center pt-3">
    <button
      class="switch-btn mb-1"
      [class.active]="currentDashboard === 1"
      (click)="toggleDashboard(1)"
    >
      1
    </button>
    <button
      class="switch-btn"
      [class.active]="currentDashboard === 2"
      (click)="toggleDashboard(2)"
    >
      2
    </button>
  </div>

  <!-- Columna principal con tablero -->
  <div class="col">
    <iframe
      *ngIf="currentDashboard === 1"
      class="table-bi"
      src="https://app.powerbi.com/view?r=eyJrIjoiNWNhYTFhNGUtZmRmNS00YjlmLTgxMTAtZGQ5M2RiMmJjYmMwIiwidCI6IjA5NzYwZjE2LThjZmUtNGY4My1iMGJkLTNiNjE0YTMwYzI1ZiJ9"
      allowFullScreen="true"
      title="Power BI Dashboard 1"
    ></iframe>

    <iframe
      *ngIf="currentDashboard === 2"
      class="table-bi"
      src="https://app.powerbi.com/view?r=TU-SEGUNDO-LINK"
      allowFullScreen="true"
      title="Power BI Dashboard 2"
    ></iframe>
  </div>
</div>
