<nav class="navbar bg-light p-3">
    <div class="d-flex justify-content-between w-100 align-items-center">
        <img class="logo" src="assets/logo/realgis.svg" alt="logo">
        <form class="search-container">
            <img class="logo search-icon" src="assets/icon/Lupa_barra superior.svg" alt="administrador">
            <input class="form-control mr-sm-2 search" type="search" aria-label="Search">
        </form>
        <div>
            <img class="logo icon icon-information" src="assets/icon/informacion.svg" alt="informacion">
            <img class="logo icon icon-admin" src="assets/icon/administrador.png" alt="administrador">
        </div>
    </div>
</nav>