.dialog-container {
  position: fixed;
  top: 100px;
  left: 245px;
  transform: translate(-50%);
  background-color: transparent;
  padding: 0px;
  z-index: 1000;
  margin: 0px;
  border-radius: 0px!important;
  max-width: 20rem;

  width: clamp(16rem, 80vw, 22rem); 
  max-height: 80vh; 
  // overflow-y: auto; /* scroll interno si se pasa */
}

// @media (min-width: 768px) {
//   .dialog-container {
//     max-width: 18rem;
//     left: 213px;
//     border-radius: 0px!important;
//   }
// }

// @media (min-width: 1200px) {
//   .dialog-container {
//     max-width: 18rem;
//     left: 230px;
//     border-radius: 0px!important;
//   }
// }

/* Para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .dialog-container {
    width: 80vw;      /* ocupa casi todo el ancho */
    max-height: 85vh; /* más alto en móviles */
    padding: 0.75rem;
    border-radius: 0px!important;
  }
}

/* Para tablets y escritorio mediano */
@media (min-width: 768px) and (max-width: 1199px) {
  .dialog-container {
    width: clamp(15rem, 50vw, 16rem);
    max-height: 80vh;
    border-radius: 0px!important;
  }
}

/* Escritorios grandes */
@media (min-width: 1200px) {
  .dialog-container {
    width: 16rem;
    max-height: 75vh;
  }
}