<app-movable-card [initialX]="550" [initialY]="300">
    <div class="card-title">
        <div class="d-flex align-items-center justify-content-center">
            <b>Fincas asociadas</b>
        </div>
    </div>

    <div class="d-flex justify-content-center text-center">
        <div>
            <div><b>Folio N.</b></div>
            <div>10445874</div>
            <div><b>Dirección</b></div>
            <div>Mz x Casa 31 Barrio</div>
            <div><b>Número de Finca</b></div>
            <div>24856</div>
        </div>
    </div>
</app-movable-card>