<!-- <ng-container *ngIf="data; else loading">  -->

<app-movable-card *ngIf="isMainMenu" [initialX]="10" [initialY]="10" [paramWidth]="30"
    [headerClass]="'card-header text-white'" [showFooter]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <b>Editar Tarjeta de Contacto</b>
            <div>
                <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
                <img class="icon-header button-header" src="assets/icon/contact_card_minimize.svg" alt=""
                    (click)="minimize()">
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="close()">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <!-- ID DE CRÉDITO -->
            <div class="d-flex align-items-center mb-1 field-group">
                <label for="idCredito" class="me-2 mb-0 label-sm">ID DE CRÉDITO:</label>
                <input id="idCredito" type="text" class="form-control bg-none-input input-sm" OnlyNumber
                    [(ngModel)]="idCredito" autocomplete="off">
            </div>

            <!-- Identificación -->
            <div class="row align-items-center mb-1 field-group">
                <div class="col-6">
                    <div class="d-flex align-items-center gap-2 custom-field-group">
                        <label for="identificacion" class="mb-0 label-sm">Identificación:</label>
                        <input id="identificacion" type="text" class="form-control bg-none-input input-sm flex-shrink-0"
                            OnlyAlphanumericDash [(ngModel)]="identificacion" autocomplete="off">

                        <div class="content-select flex-shrink-0">
                            <div class="search-container-option">
                                <div class="select-option" (click)="clickSearcher()">
                                    CC
                                    <img class="search-icon" [src]="'assets/icon/' + displayIcon" alt="icono desplegar">
                                </div>
                            </div>
                            <div class="form-select-option content-select-type-doc" *ngIf="isVisible">
                                <div class="search-container-option">
                                    <div class="form-select-option" *ngIf="isVisible">
                                        <div class="search-container-option">
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('1')">
                                                CC
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('2')">
                                                Nit
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('4')">
                                                E
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('5')">
                                                N
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('6')">
                                                PE
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('7')">
                                                PA
                                            </p>
                                            <p class="option option-hover"
                                                (click)="selectTipoIdentificacion('3')">
                                                Otro
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nombre -->
            <div class="d-flex align-items-center mb-1 field-group">
                <label for="nombre" class="me-2 mb-0 label-sm">Nombre:</label>
                <input id="nombre" type="text" class="form-control bg-none-input input-sm" OnlyAlphanumeric
                    [(ngModel)]="nombre" autocomplete="off">
            </div>

            <!-- No. Acreditado -->
            <div class="d-flex align-items-center mb-1 field-group">
                <label for="noAcreditado" class="me-2 mb-0 label-sm">No. Acreditado:</label>
                <input id="noAcreditado" type="text" class="form-control bg-none-input input-sm" OnlyNumber
                    [(ngModel)]="noAcreditado" autocomplete="off">
            </div>

            <!-- CIS -->
            <div class="d-flex align-items-center mb-1 field-group">
                <label for="cis" class="me-2 mb-0 label-sm">CIS:</label>
                <input id="cis" type="text" class="form-control bg-none-input input-sm" OnlyNumber [(ngModel)]="cis"
                    autocomplete="off">
            </div>

        </div>
        <img class="icon-user" src="assets/icon/contact_card_user.svg" alt="icono desplegar">
    </div>

    <div class="col">
        <div class="title">Estrategia</div>
        <span class="badge bg-property-input" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '3'}"
            (click)="onEstrategia('TDD', '3')">TDD</span>
        <span class="badge bg-property-input" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '2'}"
            (click)="onEstrategia('TDC', '2')">TDC</span>
        <span class="badge bg-property-input" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '4'}"
            (click)="onEstrategia('TOKENIZACION', '4')">TOKENIZACIÓN</span>
        <span class="badge bg-property-input" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '1'}"
            (click)="onEstrategia('DESCUENTO DIRECTO', '1')">DESCUENTO DIRECTO</span>
    </div>

    <!-- Tipo Producto / Dias Mora -->
    <div class="row">
        <div class="col">
            <div class="title mt-2">Tipo de producto</div>
            <div class="col">
                <div class="content-select content-seacher">
                    <div class="search-container-option">
                        <div class="select-option" (click)="clickSearcher()">
                            {{ selectedOption }}
                            <img class="search-icon" [src]="'assets/icon/' + displayIcon" alt="icono desplegar">
                        </div>
                    </div>
                </div>
                <div class="search-container-option">
                    <div class="form-select-option" *ngIf="isVisible">
                        <div class="search-container-option">
                            <p class="option option-hover" (click)="selectTipoProducto('FINANCOMER', '1')">
                                FINANCOMER
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO HIPOTECARIO', '2')">
                                PRESTAMO HIPOTECARIO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO PERSONAL', '3')">
                                PRESTAMO PERSONAL
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('TARJETA DE CREDITO', '4')">
                                TARJETA DE CREDITO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO AUTO', '5')">
                                PRESTAMO AUTO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('TARJETA DEBITO', '5')">
                                TARJETA DEBITO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="title mt-2">Dias de mora / Gaveta</div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <input type="text" name="" id="" class="form-control bg-none-input bg-none-input-sm"
                        placeholder="Dias Mora" OnlyNumber [(ngModel)]="data.CuentasDiasMoraGave" autocomplete="off">
                </div>
            </div>
        </div>
    </div>

    <!-- Saldo de Producto -->
    <div class="row">
        <div class="col-6">
            <div class="title mt-2">Saldo de Producto</div>
            <div class="d-flex align-items-center">
                <input type="text" name="" id="" class="form-control bg-none-input bg-none-input-sm" OnlyDecimalComma
                    placeholder="Saldo Producto" [(ngModel)]="data.CuentasSalPro" autocomplete="off">
            </div>
        </div>
    </div>

    <!-- informacion laboral -->
    <div>
        <div class="bg-info mt-3 d-flex justify-content-between align-items-center" (click)="editInformacionLaboral()">
            <div class="title">Información Laboral</div>
            <div class="badge bg-property">
                <b>Añadir</b>
            </div>
        </div>

        <div class="row" *ngIf="isVisibleInformacionEmployment">
            <div class="col">
                <b>Nombre:</b>
                <div class="list-unstyled">
                    <ng-container>
                        <input type="text" name="" id="" class="form-control bg-none-input bg-none-input-sm"
                            placeholder="Nombre" [disabled]="!isVisibleInformacionEmployment" NoQuotes
                            [(ngModel)]="direccionLugarNombreLaboral" autocomplete="off">
                    </ng-container>
                </div>
            </div>
            <div class="col">
                <b>Teléfono:</b>
                <ul class="list-unstyled">
                    <ng-container>
                        <input type="text" name="" id="" class="form-control bg-property-input"
                            [disabled]="!isVisibleInformacionEmployment" OnlyNumber ExactLengthThree
                            [(ngModel)]="telefonoPreLaboral" autocomplete="off">

                        <input type="text" name="" id="" class="form-control bg-none-input bg-none-input-sm"
                            [disabled]="!isVisibleInformacionEmployment" OnlyNumber ExactLengthTen
                            [(ngModel)]="telefonoNumLaboral" autocomplete="off">
                    </ng-container>
                </ul>
            </div>
            <div class="col">
                <b>Dirección Laboral:</b>
                <ul class="list-unstyled">
                    <li>
                        <textarea name="" id="" class="form-control bg-none-input"
                            [disabled]="!isVisibleInformacionEmployment" NoQuotes [(ngModel)]="direccionNombreLaboral"
                            rows="1" placeholder="Dirección" autocomplete="off">
                        </textarea>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Informacion Personal -->
    <div>
        <div class="bg-info mt-3 d-flex justify-content-between align-items-center" (click)="editInformacionPersonal()">
            <div class="title">Información Personal</div>
        </div>
        <div *ngIf="isVisibleInformacionPersonal">
            <div class="row">
                <div class="col-6"><b>Dirección Residencial:</b>
                    <ul class="list-unstyled">
                        <li [hidden]="direccionLugarNombreLaboral == '' || direccionNombreLaboral == ''">
                            <textarea name="" id="" class="form-control bg-none-input"
                                [(ngModel)]="direccionNombrePersonal" rows="1" NoQuotes placeholder="Dirección">
                            </textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col"><b>Teléfonos de Contacto:</b>
                    <div class="d-flex align-items-center">
                        <div class=""><b>Móvil(es)</b>:</div>
                        <div class="badge bg-property" [ngClass]="{'bg-active': isAddTelefonoMovil == true}"
                            (click)="AddTelefonoMovil(1)"><b>Añadir</b>
                        </div>
                    </div>

                    <div class="row g-1" *ngIf="(data.Telefonos ?? []).length > 0">
                        <div *ngFor="let personal of data.Telefonos" class="col-auto">
                            <div *ngIf="personal.TipoTelefonoCod == '1'" class="d-flex align-items-center">
                                <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                                <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                                <img class="icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                                    (click)="deleteTelefono(personal.Telefono_Id)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center mt-2">
                <div><b>Residencial(es)</b>:</div>
                <div class="badge bg-property" (click)="AddTelefonoResidencial(2)"><b>Añadir</b>
                </div>
            </div>
            <div class="row g-1">
                <div class="row g-1" *ngIf="(data.Telefonos ?? []).length > 0">
                    <div *ngFor="let personal of data.Telefonos" class="col-auto">
                        <div *ngIf="personal.TipoTelefonoCod == '2' || personal.TipoTelefonoCod == '3'"
                            class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                            <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                            <img class="icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                                (click)="deleteTelefono(personal.Telefono_Id)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-2">
                <div><b>Otros</b>:</div>
                <div class="badge bg-property" (click)="AddTelefonoOtro(5)"><b>Añadir</b>
                </div>
            </div>
            <div class="row g-1" *ngIf="(data.Telefonos ?? []).length > 0">
                <div *ngFor="let personal of data.Telefonos" class="col-auto">
                    <div *ngIf="personal.TipoTelefonoCod == '5'" class="d-flex align-items-center">
                        <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                        <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                        <img class="icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                            (click)="deleteTelefono(personal.Telefono_Id)">
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center mt-2">
                <div><b>Email de contacto</b>:</div>
                <div class="badge bg-property" [ngClass]="{'bg-active': isAddEmail == true}" (click)="AddEmail()">
                    <b>Añadir</b>
                </div>
            </div>
            <ng-container *ngIf="(data.Correos ?? []).length > 0">
                <div class="row g-1" *ngFor="let personal of data.Correos; let i = index">
                    <div class="col-auto mt-2">
                        <div class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ i + 1 }}. {{ personal.CorreoElec }}</b></div>
                            <img class="icon button-header" src="assets/icon/delete.svg" alt="icono desplegar"
                                (click)="deleteEmail(personal.Correo_Id)">
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="mt-3">
        <div class="d-flex align-items-center">
            <div class="title mt-2">FINCAS ASOCIADAS</div>
            <div class="badge bg-property" [ngClass]="{'bg-active': isAddFinca == true}" (click)="AddFinca()">
                <b>Añadir</b>
            </div>
        </div>

        <div class="row">
            <div class="col-5"><b>Número de Finca/Folio</b></div>
            <div class="col"><b>Dirección</b></div>
            <div class="col"><b></b></div>
        </div>
        <ng-container *ngIf="(data.Fincas ?? []).length > 0">
            <div class="row" *ngFor="let data of data.Fincas">
                <div class="col-5">
                    <div class="badge bg-property">
                        <b>
                            <ng-container *ngIf="data.FincaFolio == ''">NN</ng-container>
                            <ng-container *ngIf="data.FincaFolio != ''">{{ data.FincaFolio }}</ng-container>
                        </b>
                    </div>
                </div>
                <div class="col">
                    <div class="badge bg-property">
                        <b>
                            <ng-container *ngIf="data.FincaDireccion == ''">NN</ng-container>
                            <ng-container *ngIf="data.FincaDireccion != ''">{{ data.FincaDireccion }}</ng-container>
                        </b>
                    </div>
                </div>
                <div class="col">
                    <img class="icon button-header" src="assets/icon/delete.svg" alt="icono desplegar"
                        (click)="deleteFinca(data.Finca_Id)">
                </div>
            </div>
        </ng-container>
    </div>

    <!-- Geodomicilio -->
    <div class="bg-info location mt-3 d-flex justify-content-center align-items-center"
        *ngIf="direccionNombrePersonal != '' || direccionLugarNombreLaboral != '' || direccionNombreLaboral != ''">
        <!-- <img class="icon" src="assets/icon/contact_card_location.svg" alt=""> -->
        <input type="text" name="" id="" class="form-control bg-none-input" placeholder="Longitud"
            OnlyDecimal2IntDirective [(ngModel)]="geoDomicilioLongi" autocomplete="off">
        -
        <input type="text" name="" id="" class="form-control bg-none-input" placeholder="Latitud"
            OnlyDecimal3IntDirective [(ngModel)]="geoDomicilioLati" autocomplete="off">
        <img class="icon button-header" src="assets/icon/contact_card_location.svg" alt="icono desplegar">
    </div>

    <div class="card-footer d-flex justify-content-center align-items-center" (click)="save()">
        Guardar
    </div>
</app-movable-card>

<!-- Telefono -->
<app-movable-card *ngIf="isAddTelefonoMovil || isAddTelefonoResidencial || isAddTelefonoOtro" [initialX]="500"
    [initialY]="150" [paramWidth]="20" [showHeader]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <b>
                <span [ngSwitch]="typeTelefono">
                    <ng-container *ngSwitchCase="1">Añadir Teléfono Móvil</ng-container>
                    <ng-container *ngSwitchCase="2">Añadir Teléfono Residencial</ng-container>
                    <ng-container *ngSwitchCase="5">Añadir Teléfono Otros</ng-container>
                    <ng-container *ngSwitchDefault></ng-container>
                </span>
            </b>
            <div>
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="closeTelefono()">
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <input type="text" name="" id="" pattern="^[0-9]+$" class="form-control bg-property-input" OnlyNumber
            ExactLengthThree [(ngModel)]="nuevoTelefonoPre" placeholder="Prefijo" autocomplete="off">

        <input type="text" name="" id="" pattern="^[0-9]+$" class="form-control bg-property-input" OnlyNumber
            ExactLengthTen placeholder="Número" [(ngModel)]="nuevoTelefono" autocomplete="off">

        <button class="btn badge bg-active" (click)="newTelefono()">Guardar</button>
    </div>
</app-movable-card>

<!-- Email -->
<app-movable-card *ngIf="isAddEmail" [initialX]="500" [initialY]="248" [paramWidth]="20" [showHeader]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <b>
                Añadir Email de Contacto
            </b>
            <div>
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="closeEmail()">
            </div>
        </div>
    </div>
    <div class="align-items-center">
        <div class="row">
            <div class="col-8">
                <input type="email" name="" id="" class="form-control bg-property-input" placeholder="Email" EmailFormat
                    [(ngModel)]="nuevoEmail" autocomplete="off">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-4">
                <span class="badge bg-strategy" [ngClass]="{'bg-active': typeEmail == 1}"
                    (click)="onTipoEmail(1)">Personal</span>
            </div>
            <div class="col-4">
                <span class="badge bg-strategy" [ngClass]="{'bg-active': typeEmail == 2}"
                    (click)="onTipoEmail(2)">Laboral</span>
            </div>
            <div class="col">
                <button class="btn badge bg-active" (click)="newEmail()">Guardar</button>
            </div>
        </div>

    </div>
</app-movable-card>

<!-- Finca -->
<app-movable-card *ngIf="isAddFinca" [initialX]="500" [initialY]="380" [paramWidth]="20" [showHeader]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <b>
                Añadir Número de finca/folio
            </b>
            <div>
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="closeFinca()">
            </div>
        </div>
    </div>
    <div class="align-items-center">
        <div class="row">
            <div class="col">
                <input type="text" name="" id="" class="form-control bg-property-input" placeholder="Finca/Folio"
                    [(ngModel)]="nuevaFinca" autocomplete="off">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col">
                <textarea name="" id="" class="form-control bg-property-input" [(ngModel)]="nuevaFincaDireccion"
                    rows="2" placeholder="Dirección" autocomplete="off">
                </textarea>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col">
                <span class="badge bg-property" [ngClass]="{'bg-active': data.TipoPredioNom == 'Residencial'}"
                    (click)="onPredio('Residencial', '1')">Residencial</span>
                <span class="badge bg-property" [ngClass]="{'bg-active': data.TipoPredioNom == 'Comercial'}"
                    (click)="onPredio('Comercial', '2')">Comercial</span>
                <span class="badge bg-property" [ngClass]="{'bg-active': data.TipoPredioNom == 'Industrial'}"
                    (click)="onPredio('Industrial', '3')">Industrial</span>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col">
                <button class="btn badge bg-active" (click)="newFinca()">Guardar</button>
            </div>
        </div>

    </div>
</app-movable-card>

<app-movable-card *ngIf="isMensajeAlerta" [initialX]="500" [initialY]="380" [paramWidth]="20" [showHeader]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
            <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt="" (click)="close()">
        </div>
    </div>
    <div>
        <p class="alerta">{{ mensajeAlerta }}</p>
    </div>
</app-movable-card>

<app-movable-card *ngIf="isSave" [initialX]="10" [initialY]="10" [paramWidth]="30" [showHeader]="true">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
            <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt="" (click)="close()">
        </div>
    </div>
    <div>
        {{ message }}

        <button class="btn badge bg-active" (click)="goTC()">Ir a la TC</button>
    </div>
</app-movable-card>

<!-- </ng-container>
    <ng-template #loading>
        <p>Cargando información...</p>
    </ng-template> -->