.dialog-container {
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%);
  background-color: transparent;
  padding: 0px;
  z-index: 1000;
  margin: 0px;
  border-radius: 55px!important;
  width: 20rem;
}
