<ng-container *ngIf="data; else loading">
    <app-movable-card *ngIf="isMainMenu" [initialX]="10" [initialY]="10" [paramWidth]="30"
        [headerClass]="'card-header text-white'" [showFooter]="true">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-center">
                <b>Editar Tarjeta de Contacto</b>
                <div>
                    <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
                    <img class="icon-header button-header" src="assets/icon/contact_card_minimize.svg" alt=""
                        (click)="minimize()">
                    <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                        (click)="close()">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <div class="pointer title id-credit">ID DE CRÉDITO : {{ data.AcreditadoNumCuen }}</div>
                <div class="pointer">Identificación : {{ data.AcreditadoIdenti }}</div>
                <div class="pointer">Nombre : {{ data.AcreditadoNom }}</div>
                <div class="pointer">No. Acreditado : {{ data.AcreditadoNum }}</div>
                <div class="pointer title">CIS : {{ data.CuentasCis }}</div>
            </div>
            <img class="icon-user" src="assets/icon/contact_card_user.svg" alt="icono desplegar">
        </div>

        <div class="col">
            <div class="title">Estrategia</div>
            <span class="pointer badge bg-strategy" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '3'}"
                (click)="onEstrategia('TDD', 3)">TDD</span>
            <span class="pointer badge bg-strategy" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '2'}"
                (click)="onEstrategia('TDC', 2)">TDC</span>
            <span class="pointer badge bg-strategy" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '4'}"
                (click)="onEstrategia('TOKENIZACION', 4)">TOKENIZACIÓN</span>
            <span class="pointer badge bg-strategy" [ngClass]="{'bg-active': data.TipoEstrategia_Id == '1'}"
                (click)="onEstrategia('DESCUENTO DIRECTO', 1)">DESCUENTO DIRECTO</span>
        </div>

        <!-- Tipo Producto / Dias Mora -->
        <div class="row pointer">
            <div class="col">
                <div class="title mt-2">Tipo de producto</div>
                <div class="col">
                    <div class="content-select content-seacher">
                        <div class="search-container-option">
                            <div class="select-option" (click)="clickSearcher()">
                                {{ selectedOption }}
                                <img class="search-icon" [src]="'assets/icon/' + displayIcon" alt="icono desplegar">
                            </div>
                        </div>
                    </div>
                    <div class="form-select-option" *ngIf="isVisible">
                        <div class="search-container-option">
                            <p class="option option-hover" (click)="selectTipoProducto('FINANCOMER', 1)">
                                FINANCOMER
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO HIPOTECARIO', 2)">
                                PRESTAMO HIPOTECARIO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO PERSONAL', 3)">
                                PRESTAMO PERSONAL
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('TARJETA DE CREDITO', 4)">
                                TARJETA DE CREDITO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('PRESTAMO AUTO', 5)">
                                PRESTAMO AUTO
                            </p>
                            <p class="option option-hover" (click)="selectTipoProducto('TARJETA DEBITO', 5)">
                                TARJETA DEBITO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="title mt-2">Dias de mora / Gaveta</div>
                <div class="col">
                    <div class="d-flex align-items-center">
                        <input type="text" name="diasMora" id="diasMora" pattern="^[0-9]+$" OnlyNumber autocomplete="off"
                            class="form-control bg-property-input" [ngClass]="{'bg-active': isVisibleDiasMora == true}"
                            placeholder="Dias Mora" [disabled]="!isVisibleDiasMora"
                            [(ngModel)]="data.CuentasDiasMoraGave">

                        <img class="icon button-header" [src]="isVisibleDiasMora
                        ? 'assets/icon/editar_activo.svg'
                        : 'assets/icon/editar_gris_oscuro.svg'" (click)="editDiasMora()" alt="icono desplegar">
                    </div>
                </div>
            </div>
        </div>

        <!-- Saldo de Producto -->
        <div class="title mt-2 pointer">Saldo de Producto</div>
        <div class="d-flex align-items-center">
            <input type="text" name="saldoProducto" id="saldoProducto" pattern="^-?\d+(,\d*)?$" #saldoModel="ngModel"
                OnlyDecimalComma class="form-control bg-property-input" autocomplete="off"
                [ngClass]="{'bg-active': isVisibleSaldoProducto == true}" placeholder="Saldo Producto"
                [disabled]="!isVisibleSaldoProducto" [(ngModel)]="data.CuentasSalPro">

            <img class="icon button-header" [src]="isVisibleSaldoProducto
            ? 'assets/icon/editar_activo.svg'
            : 'assets/icon/editar_gris_oscuro.svg'" (click)="editSaldoProducto()" alt="icono desplegar">
        </div>

        <!-- informacion laboral -->
        <div class="pointer-defaul">
            <div class="bg-info mt-3 d-flex justify-content-between align-items-center"
                (click)="editInformacionLaboral()">
                <div class="title">Información Laboral</div>
                <img class="icon button-header" alt="icono desplegar" [src]="isVisibleInformacionEmployment
                    ? 'assets/icon/editar_activo.svg'
                    : 'assets/icon/editar_gris_oscuro.svg'">
            </div>

            <div class="row" *ngIf="isVisibleInformacionEmployment">
                <div class="col">
                    <b>Nombre:</b>
                    <div class="list-unstyled">
                        <ng-container *ngIf="data.TipoDireccion_Id == '2' || data.TipoDireccion_Id == '3'">
                            <textarea type="text" name="" id="" class="form-control bg-property-input" NoQuotes
                                [ngClass]="{'bg-active': isVisibleInformacionEmployment == true}" placeholder="Nombre"
                                [disabled]="!isVisibleInformacionEmployment" [(ngModel)]="data.DireccionesLugTra"
                                autocomplete="off">
                            </textarea>
                        </ng-container>
                    </div>
                </div>

                <div class="col">
                    <b>Teléfono:</b>
                    <ul class="list-unstyled">
                        <ng-container *ngIf="hasLaboralTipo4; else telLaboral">
                            <li *ngFor="let laboral of data.Telefonos" class="d-flex mb-2">
                                <ng-container *ngIf="laboral.TipoTelefono_Id == '4'">
                                    <!-- Prefijo -->
                                    <input type="text" name="telPreModelLab" id="telPreModelLab" pattern="^[0-9]{1,3}$"
                                        ExactLengthThree class="form-control bg-property-input me-1" maxlength="3"
                                        [ngClass]="{ 'bg-active': isVisibleInformacionEmployment }"
                                        #telPreModelLab="ngModel" [disabled]="!isVisibleInformacionEmployment"
                                        [(ngModel)]="laboral.TelefonoPre" />

                                    <!-- Número -->
                                    <input type="text" name="telModelLab" id="telModelLab" pattern="^[0-9]+$"
                                        ExactLengthTen class="form-control bg-property-input" #telModelLab="ngModel"
                                        maxlength="10" [ngClass]="{ 'bg-active': isVisibleInformacionEmployment }"
                                        autocomplete="off" [disabled]="!isVisibleInformacionEmployment"
                                        [(ngModel)]="laboral.TelefonoNum" />

                                    <!-- Mensajes de error específicos -->
                                    <div class="text-danger mt-1">
                                        <div
                                            *ngIf="telPreModelLab.invalid && (telPreModelLab.dirty || telPreModelLab.touched)">
                                            <div *ngIf="telPreModelLab.errors?.['pattern']">
                                                Prefijo: Debe contener sólo dígitos y menos de 3 caracteres.
                                            </div>
                                            <div *ngIf="telPreModelLab.errors?.['maxlength']">
                                                Prefijo: Máximo 3 caracteres permitidos.
                                            </div>
                                            <div
                                                *ngIf="!telPreModelLab.errors && (telPreModelLab.viewModel?.length < 1 || telPreModelLab.viewModel?.length > 3)">
                                                <em>Prefijo: Debe ingresar entre 1 y 3 dígitos.</em>
                                            </div>
                                        </div>

                                        <div *ngIf="telModelLab.invalid && (telModelLab.dirty || telModelLab.touched)">
                                            <div *ngIf="telModelLab.errors?.['pattern']">
                                                Número: Debe contener sólo dígitos y exactamente 10 caracteres.
                                            </div>
                                            <div *ngIf="telModelLab.errors?.['maxlength']">
                                                Número: Máximo 10 caracteres permitidos.
                                            </div>
                                            <div
                                                *ngIf="telModelLab.valid && telModelLab.touched && telModelLab.viewModel.length !== 10">
                                                <em>Número: El número debe tener exactamente 10 dígitos.</em>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </li>
                        </ng-container>

                        <ng-template #telLaboral>
                            <li *ngIf="data.TipoDireccion_Id == '2' || data.TipoDireccion_Id == '3'"
                                class="d-flex mb-2">
                                <!-- Prefijo alternativo -->
                                <input type="text" name="telLaboralPreAlt" pattern="^[0-9]{1,3}$" onlyNumber
                                    class="form-control bg-property-input me-1" placeholder="Prefijo" maxlength="3"
                                    [ngClass]="{ 'bg-active': isVisibleInformacionEmployment }" autocomplete="off"
                                    #telPreLab="ngModel" [disabled]="!isVisibleInformacionEmployment"
                                    [(ngModel)]="telefonoPreLaboral" />
                                <!-- Número alternativo -->
                                <input type="text" name="telLaboralAlt" pattern="^[0-9]{10}$" onlyNumber maxlength="10"
                                    class="form-control bg-property-input" placeholder="Número" autocomplete="off"
                                    [ngClass]="{ 'bg-active': isVisibleInformacionEmployment }" #telLab="ngModel"
                                    [disabled]="!isVisibleInformacionEmployment" [(ngModel)]="telefonoLaboral" />

                                <div class="row">
                                    <div class="col">
                                        <div class="text-danger"
                                            *ngIf="telPreLab.invalid && (telPreLab.dirty || telPreLab.touched)">
                                            <div *ngIf="telPreLab.errors?.['pattern']">
                                                Prefijo: Debe contener sólo dígitos y menos de 3 caracteres.
                                            </div>
                                            <div *ngIf="telPreLab.errors?.['maxlength']">
                                                Prefijo: Máximo 3 caracteres permitidos.
                                            </div>
                                            <!-- Error de la directiva -->
                                            <div
                                                *ngIf="!telPreLab.errors && (telPreLab.viewModel?.length < 1 || telPreLab.viewModel?.length > 3)">
                                                <em>Prefijo: Debe ingresar entre 1 y 3 dígitos.</em>
                                            </div>
                                        </div>

                                        <div class="text-danger"
                                            *ngIf="telLab.invalid && (telLab.dirty || telLab.touched)">
                                            <div *ngIf="telLab.errors?.['pattern']">
                                                Numero: Debe contener sólo dígitos y exactamente 10 caracteres.
                                            </div>
                                            <div *ngIf="telLab.errors?.['maxlength']">
                                                Numero: Máximo 10 caracteres permitidos.
                                            </div>
                                            <!-- Error de la directiva -->
                                            <div
                                                *ngIf="telLab.valid && telLab.touched && telLab.viewModel.length !== 10">
                                                <em>Numero: El número debe tener exactamente 10 dígitos.</em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ng-template>
                    </ul>
                </div>

                <div class="col">
                    <b>Dirección Laboral:</b>
                    <ul class="list-unstyled">
                        <li *ngIf="data.TipoDireccion_Id == '2' || data.TipoDireccion_Id == '3'">
                            <textarea #autoResize name="" id="" class="form-control bg-property-input"
                                [ngClass]="{ 'bg-active': isVisibleInformacionEmployment }" NoQuotes
                                [disabled]="!isVisibleInformacionEmployment" [(ngModel)]="data.Direccion" rows="5"
                                placeholder="Dirección" autocomplete="off">
                            </textarea>
                            <!-- <input type="text" name="" id="" class="form-control bg-property-input"
                            [ngClass]="{'bg-active': isVisibleInformacionEmployment == true}"
                            [disabled]="!isVisibleInformacionEmployment" [(ngModel)]="data.Direccion"> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Informacion Personal -->
        <div class="pointer-defaul">
            <div class="bg-info mt-3 d-flex justify-content-between align-items-center"
                (click)="editInformacionPersonal()">
                <div class="title">Información Personal</div>
                <img class="icon button-header" [src]="isVisibleInformacionPersonal
                ? 'assets/icon/editar_activo.svg'
                : 'assets/icon/editar_gris_oscuro.svg'" alt="icono desplegar">
            </div>
            <div *ngIf="isVisibleInformacionPersonal">
                <div class="col"><b>Dirección Residencial:</b>
                    <ul class="list-unstyled">
                        <li *ngIf="data.TipoDireccion_Id == '1'">
                            <textarea name="direccionPersonal" id="direccionPersonal"
                                class="form-control bg-property-input" autocomplete="off"
                                [ngClass]="{'bg-active': isVisibleInformacionPersonal == true}" NoQuotes
                                [disabled]="isVisibleInformacionEmployment" [(ngModel)]="data.Direccion">
                            </textarea>
                        </li>
                    </ul>
                </div>
                <div class="col"><b>Teléfonos de Contacto:</b></div>
                <div class="d-flex align-items-center">
                    <div class=""><b>Móvil(es)</b>:</div>
                    <div class="pointer badge bg-property" [ngClass]="{'bg-active': isAddTelefonoMovil == true}"
                        (click)="AddTelefonoMovil(1)"><b>Añadir</b>
                    </div>
                </div>
                <div class="row g-1 mt-1">
                    <div *ngFor="let personal of data.Telefonos" class="col-auto">
                        <div *ngIf="personal.TipoTelefono_Id == '1' && personal.TelefonoEst == 'A'"
                            class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                            <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                            <img class="pointer icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                                (click)="deleteTelefono(personal.Telefono_Id)">
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <div><b>Residencial(es)</b>:</div>
                    <div class="pointer badge bg-property" [ngClass]="{'bg-active': isAddTelefonoResidencial == true}"
                        (click)="AddTelefonoResidencial(2)"><b>Añadir</b>
                    </div>
                </div>
                <div class="row g-1 mt-1">
                    <div *ngFor="let personal of data.Telefonos" class="col-auto">
                        <div *ngIf="(personal.TipoTelefono_Id == '2' || personal.TipoTelefonoCod == '3') && personal.TelefonoEst == 'A'"
                            class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                            <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                            <img class="icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                                (click)="deleteTelefono(personal.Telefono_Id)">
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <div><b>Otros</b>:</div>
                    <div class="pointer badge bg-property" [ngClass]="{'bg-active': isAddTelefonoOtro == true}"
                        (click)="AddTelefonoOtro(5)"><b>Añadir</b>
                    </div>
                </div>
                <div class="row g-1 mt-1">
                    <div *ngFor="let personal of data.Telefonos" class="col-auto">
                        <div *ngIf="personal.TipoTelefono_Id == '5' && personal.TelefonoEst == 'A'"
                            class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ personal.TelefonoPre }}</b></div>
                            <div class="badge bg-property me-1"><b>{{ personal.TelefonoNum }}</b></div>
                            <img class="icon button-header me-1" src="assets/icon/delete.svg" alt="Eliminar"
                                (click)="deleteTelefono(personal.Telefono_Id)">
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <div><b>Email de contacto</b>:</div>
                    <div class="pointer badge bg-property" [ngClass]="{'bg-active': isAddEmail == true}" (click)="AddEmail()">
                        <b>Añadir</b>
                    </div>
                </div>
                <div class="row g-1" *ngFor="let personal of data.Correos; let i = index">
                    <div class="col-auto mt-2">
                        <div class="d-flex align-items-center">
                            <div class="badge bg-property"><b>{{ i + 1 }}. {{ personal.CorreoElec }}</b></div>
                            <img class="pointer icon button-header" src="assets/icon/delete.svg" alt="icono desplegar"
                                (click)="deleteEmail(personal.CorreoElec_Id)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fincas -->
        <div class="mt-3 pointer-defaul">
            <div class="d-flex align-items-center">
                <div class="title mt-2">FINCAS ASOCIADAS</div>
                <div class="badge bg-property" [ngClass]="{'bg-active': isAddFinca == true}" (click)="AddFinca()">
                    <b>Añadir</b>
                </div>
            </div>
            <div class="row">
                <div class="col-4"><b>N° Finca/Folio</b></div>
                <div class="col-6"><b>Dirección</b></div>
                <div class="col-2"><b></b></div>
            </div>
            <div class="row" *ngFor="let data of data.Fincas">
                <ng-container *ngIf="data.FincaEst == 'A'">
                    <div class="col-4">
                        <div class="badge bg-property">
                            <b>
                                <ng-container *ngIf="data.FincaFolio == ''">NN</ng-container>
                                <ng-container *ngIf="data.FincaFolio != ''">{{ data.FincaFolio }}</ng-container>
                            </b>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- <div class="badge bg-property"> -->
                            <!-- <b> -->
                                <ng-container *ngIf="data.FincaDireccion == ''">
                                    <div class="badge bg-property">NN</div>
                                    </ng-container>
                                <ng-container *ngIf="data.FincaDireccion != ''">
                                    <textarea class="form-control bg-property" rows="1"
                                        [(ngModel)]="data.FincaDireccion" disabled>
                                    </textarea>
                                </ng-container>
                            <!-- </b> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-2">
                        <img class="pointer icon button-header" src="assets/icon/delete.svg" alt="icono desplegar"
                            (click)="deleteFinca(data.Finca_Id)">
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- <div class="bg-info location mt-3 d-flex justify-content-center align-items-center">
        <input type="text" name="" id="" class="form-control bg-none-input"
            [ngClass]="{'bg-active': isVisibleGeolocalizacion == true}" placeholder="Longitud"
            [disabled]="!isVisibleGeolocalizacion" [(ngModel)]="data.GeoDomicilioLongi">
        -
        <input type="text" name="" id="" class="form-control bg-none-input"
            [ngClass]="{'bg-active': isVisibleGeolocalizacion == true}" placeholder="Dias Mora"
            [disabled]="!isVisibleGeolocalizacion" [(ngModel)]="data.GeoDomicilioLati">
        <img class="icon button-header" src="assets/icon/editar_gris_oscuro.svg" alt="icono desplegar"
            (click)="editGeolocalizacion()">
    </div> -->

        <div class="card-footer d-flex justify-content-center align-items-center pointer" (click)="save()">
            {{ isSaveaAvailable ? 'Guardar' : 'Cargando...' }}
        </div>
    </app-movable-card>

    <!-- Telefono -->
    <app-movable-card *ngIf="isAddTelefonoMovil || isAddTelefonoResidencial || isAddTelefonoOtro" [initialX]="500"
        [initialY]="150" [paramWidth]="20" [showHeader]="true">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-center">
                <b>
                    <span [ngSwitch]="typeTelefono">
                        <ng-container *ngSwitchCase="1">Añadir Teléfono Móvil</ng-container>
                        <ng-container *ngSwitchCase="2">Añadir Teléfono Residencial</ng-container>
                        <ng-container *ngSwitchCase="5">Añadir Teléfono Otros</ng-container>
                        <ng-container *ngSwitchDefault></ng-container>
                    </span>
                </b>
                <div>
                    <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                        (click)="closeTelefono()">
                </div>
            </div>
        </div>
        <div class="align-items-center">
            <div class="row">
                <div class="col">
                    <input type="text" name="numberPreTel" id="numberPreTel" pattern="^[0-9]{1,3}$" 
                        class="form-control bg-property-input" ExactLengthThree #telPreModel="ngModel" maxlength="3"
                        ExactLengthThree [(ngModel)]="nuevoTelefonoPre" placeholder="Prefijo" autocomplete="off">
                </div>

                <div class="col g-0">
                    <input type="text" name="numberTel" id="numberTel" pattern="^[0-9]{10}$"
                        class="form-control bg-property-input" #telModel="ngModel" maxlength="10" ExactLengthTen
                        placeholder="Número" [(ngModel)]="nuevoTelefono" autocomplete="off">
                </div>

                <div class="col">
                    <button class="btn badge bg-active pointer" (click)="newTelefono()"
                        [disabled]="telPreModel.invalid || telModel.invalid">Guardar</button>
                </div>
            </div>

            <!-- Mensaje de errores -->
            <div class="row">
                <div class="col">
                    <div class="text-danger" *ngIf="telPreModel.invalid && (telPreModel.dirty || telPreModel.touched)">
                        <div *ngIf="telPreModel.errors?.['pattern']">
                            Prefijo: Debe contener sólo dígitos y menos de 3 caracteres.
                        </div>
                        <div *ngIf="telPreModel.errors?.['maxlength']">
                            Prefijo: Máximo 3 caracteres permitidos.
                        </div>
                        <!-- Error de la directiva -->
                        <div
                            *ngIf="!telPreModel.errors && (telPreModel.viewModel?.length < 1 || telPreModel.viewModel?.length > 3)">
                            <em>Prefijo: Debe ingresar entre 1 y 3 dígitos.</em>
                        </div>
                    </div>

                    <div class="text-danger" *ngIf="telModel.invalid && (telModel.dirty || telModel.touched)">
                        <div *ngIf="telModel.errors?.['pattern']">
                            Numero: Debe contener sólo dígitos y exactamente 10 caracteres.
                        </div>
                        <div *ngIf="telModel.errors?.['maxlength']">
                            Numero: Máximo 10 caracteres permitidos.
                        </div>
                        <!-- Error de la directiva -->
                        <div *ngIf="telModel.valid && telModel.touched && telModel.viewModel.length !== 10">
                            <em>Numero: El número debe tener exactamente 10 dígitos.</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-movable-card>

    <!-- Email -->
    <app-movable-card *ngIf="isAddEmail" [initialX]="500" [initialY]="248" [paramWidth]="20" [showHeader]="true">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-center">
                <b>
                    Añadir Email de Contacto
                </b>
                <div>
                    <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                        (click)="closeEmail()">
                </div>
            </div>
        </div>
        <div class="align-items-center">
            <div class="row">
                <div class="col-8">
                    <input type="email" name="email" id="email" class="form-control bg-property-input"
                        placeholder="Email" EmailFormat #emailModel="ngModel" [(ngModel)]="nuevoEmail"
                        autocomplete="off" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-4">
                    <span class="badge bg-strategy pointer" [ngClass]="{'bg-active': typeEmail == 1}"
                        (click)="onTipoEmail(1)">Personal</span>
                </div>
                <div class="col-4">
                    <span class="badge bg-strategy pointer" [ngClass]="{'bg-active': typeEmail == 2}"
                        (click)="onTipoEmail(2)">Laboral</span>
                </div>
                <div class="col">
                    <button class="btn badge bg-active pointer" (click)="newEmail()"
                        [disabled]="emailModel.invalid || !typeEmail">Guardar</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-8">
                    <div class="text-danger" *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
                        <div *ngIf="emailModel.errors?.['required']">
                            El email es obligatorio.
                        </div>
                        <div *ngIf="emailModel.errors?.['pattern']">
                            Formato de email inválido.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-movable-card>

    <!-- Finca -->
    <app-movable-card *ngIf="isAddFinca" [initialX]="500" [initialY]="380" [paramWidth]="20" [showHeader]="true">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-center">
                <b>
                    Añadir Número de finca/folio
                </b>
                <div>
                    <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                        (click)="closeFinca()">
                </div>
            </div>
        </div>
        <div class="align-items-center">
            <div class="row">
                <div class="col">
                    <input type="text" name="finca" id="finca" class="form-control bg-property-input"
                        placeholder="Finca/Folio" [(ngModel)]="nuevaFinca">
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <textarea name="fincaDireccion" id="fincaDireccion" class="form-control bg-property-input"
                        [(ngModel)]="nuevaFincaDireccion" rows="2" placeholder="Dirección">
                </textarea>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <span class="pointer badge bg-property pointer" [ngClass]="{'bg-active': data.TipoPredioNom == 'Residencial'}"
                        (click)="onPredio('Residencial', 1)">Residencial</span>
                    <span class="pointer badge bg-property pointer" [ngClass]="{'bg-active': data.TipoPredioNom == 'Comercial'}"
                        (click)="onPredio('Comercial', 2)">Comercial</span>
                    <span class="pointer badge bg-property pointer" [ngClass]="{'bg-active': data.TipoPredioNom == 'Industrial'}"
                        (click)="onPredio('Industrial', 3)">Industrial</span>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <button class="pointer btn badge bg-active pointer" (click)="newFinca()">Guardar</button>
                </div>
            </div>

        </div>
    </app-movable-card>

    <!-- Mensaje Alerta -->
    <app-movable-card *ngIf="isMensajeAlerta" [initialX]="500" [initialY]="380" [paramWidth]="20" [showHeader]="true">
        <div class="card-title ">
            <div class="d-flex justify-content-between align-items-center">
                <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="close()">
            </div>
        </div>
        <div>
            <p class="alerta">{{ mensajeAlerta }}</p>
        </div>
    </app-movable-card>

    <app-movable-card *ngIf="isSave" [initialX]="10" [initialY]="10" [paramWidth]="30" [showHeader]="true">
        <div class="card-title">
            <div class="d-flex justify-content-between align-items-center">
                <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="close()">
            </div>
        </div>
        <div>
            Se Actualizó Correctamente y se generó el PDF

            <button class="pointer btn badge bg-active pointer" (click)="goTC()">Ir a la TC</button>
        </div>
    </app-movable-card>

</ng-container>

<!-- Pre carga -->
<ng-template #loading>
    <app-movable-card [initialX]="10" [initialY]="10" [paramWidth]="30" [headerClass]="'card-header text-white'"
        [showFooter]="true">
        <p>Cargando información...</p>
    </app-movable-card>
</ng-template>