@import "../../../../styles/variables.less";

div {
    font-size: 12px;
}

.card-title {
    height: 0.4rem;
}

.card-body {
    color: @dark-blue;
}

.button-header {
    margin-right: 0.5rem;
}

.icon-user {
    height: 8rem;
}

.title {
    font-weight: bold;
}

.id-credit {
    font-size: 13px;
}

.badge {
    font-size: 11px !important;
    font-weight: normal;
    border-radius: 1.5rem;
    padding: 3.5px 10px;
}

.bg-strategy {
    background-color: @dark-gray;
    margin-right: 3px;
    min-width: 2rem;
}

.bg-property {
    background-color: @dark-gray;
    margin-right: 5px;
}

.bg-days {
    background-color: @secondary-color;
    width: 9rem;
}

.bg-info {
    background-color: @light-gray !important;
}

.location {
    border-radius: 18px;
    text-align: center;
    justify-content: center;
}

.icon {
    height: 1rem;
    align-items: center;
}

.icon-header {
    height: 1rem;
    align-items: center;
}


///
.content-select {
    background-color: @dark-gray;
    padding: 0.1rem 1rem;
    margin: 0px;
    border-radius: 22px;
    color: #fff;
    font-weight: bold;
    font-size: 17px !important;
}

.form-select {
    border-radius: 20px;
}

.form-select-option {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid @light-gray;
    border-radius: 0px 0px 20px 20px;
    margin: 0px;
    padding: 0px;
    border-top: none;
}

.option {
    // background-color: @baby-blue;
    color: @dark-gray;
    // font-weight: bold;
    padding: 0.2rem 1rem;
    margin: 0px;
    display: flex;
    align-items: center;
}

.option-hover:hover {
    background-color: @secondary-color;
    color: #fff;
}

.option-hover:hover:last-child {
    background-color: @secondary-color;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}

.option .search-icon:first-child {
    margin-right: 0.5rem;
}

.search-icon {
    width: 1rem;
    height: auto;
}

.search-container .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

.select-option {
    font-weight: bold;
    text-align: center;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.select-option .search-icon:first-child {
    margin-right: 0.5rem;
}

.select-option .search-icon:last-child {
    margin-left: 0.5rem;
}

.select-option>*:not(.search-icon) {
    flex-grow: 1;
    text-align: center;
}