.mapa-toolbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0px 18px;
  border-radius: 25px;
  height: 4dvh;
}

.icon-tool {
  height: 3.5dvh;
  margin-right: 4px;
  cursor: pointer;
}