<div class="card card-windows">
  <div class="card-header card-header-windows d-flex justify-content-center">
    Búsqueda
  </div>
  <div class="card-body">
    <div class="content-seacher">
      <form class="search-container">
        <img
          class="logo search-icon"
          src="assets/icon/navbar_search_top_bar.svg"
          alt="administrador"
        />
        <input
          class="form-control search-windows"
          type="search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="content-select mt-2 content-seacher">
      <div class="search-container-option">
        <div class="select-option" (click)="clickSearcher()">
          <img class="logo search-icon" src="assets/icon/circle_light.svg" alt="circle">
          {{ selectedOption }}
          <img class="logo search-icon" [src]="'assets/icon/' + displayIcon" alt="icono desplegar">
        </div>
      </div>
    </div>
    <div class="form-select-option" *ngIf="isVisible">
      <div class="search-container-option" *ngFor="let option of optionSearch" (click)="selectOption(option)">
        <p class="option">
          <img class="logo search-icon" src="assets/icon/circle_light.svg" alt="administrador">
          {{ option }}
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-2 mb-4">
      <button class="btn btn-card-windows" (click)="searchInformation()">Buscar</button>
      <button class="btn btn-card-windows" (click)="clearInformation()">Limpiar</button>
    </div>
    <div class="option-info-user mb-4" *ngIf="infoUser.length > 0">
      <div class="search-container-option" *ngFor="let info of infoUser">
        <p class="option option-tc d-flex justify-content-between">
          No. Cliente: {{ info.id }}
          <button class="btn btn-card-windows" (click)="showCardUser()">Ver TC</button>
        </p>
      </div>
    </div>
  </div>
</div>