.sidebar-container {
    width: 10dvh;
    z-index: 1;

    @media (min-width: 1200px) {
        width: 8.4dvh;
    }

    @media (min-width: 800px) {
        width: 8.4dvh;
    }

    @media (min-width: 480px) {
        width: 7.4dvh;
    }
}