@import '../../../../styles/variables.less';

.navbar {
    background-color: #fff !important;
    height: 5rem;
}

.logo {
    height: 3.5rem;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: auto;
}

.search-container {
    position: relative;
    width: 35rem;
}

.search {
    width: 100%;
    height: 2rem;
    padding-left: 2.5rem;
    border-radius: 17px;
    background-color: @light-gray;
    border-color: rgb(202, 202, 202);
    text-align: center;
}

.search&:focus {
    outline: none;
}

@media (min-width: 768px) {
    .navbar {
        height: 4rem;
    }
    .logo {
        height: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .navbar {
        height: 5rem;
    }
    .logo {
        height: 3.5rem;
    }
}