@import "../../../../styles/variables.less";

div {
    font-size: 12px;
}

.card-title {
    height: 0.4rem;
}

.card-body {
    color: @dark-blue;
}

.button-header {
    margin-right: 0.5rem;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.icon-user {
    height: 8rem;
}

.icon-edit {
    position: absolute;
    bottom: 12px;
    right: -7px;
    width: 5rem;
    height: 3rem;
}

.title {
    font-weight: bold;
}

.id-credit {
    font-size: 13px;
}

.badge {
    font-size: 11px !important;
    font-weight: normal;
    border-radius: 1.5rem;
    padding: 3.5px 10px;
}

.bg-strategy {
    background-color: @dark-gray;
    margin-right: 3px;
}

.bg-product {
    background-color: @green-active;
}

.bg-green {
    background-color: @green-active;
    width: 9rem;
}

.bg-property {
    background-color: @dark-gray;
    margin-right: 5px;
}

.bg-days {
    background-color: @secondary-color;
    width: 9rem;
}

.bg-active {
    background-color: @secondary-color;
}

.bg-info {
    background-color: @light-gray !important;
}

.location {
    border-radius: 18px;
    text-align: center;
    justify-content: center;
}

.icon {
    height: 0.8rem;
    align-items: center;
}

.icon-header {
    height: 1rem;
    align-items: center;
    cursor: pointer!important;
}

.barra-transparente {
    background-color: transparent;
    border-radius: 0.5rem;
    height: 0.2rem;
    margin-top: 0.5rem;
}

.separator {
    border: none;
    height: 1px;
    /* color negro al 20% de opacidad, ajusta según tu fondo */
    background-color: rgba(0, 0, 0, 0.2);
    /* opcional: algo de margen horizontal para que no toque los bordes */
    margin-left: 1rem;
    margin-right: 1rem;
}

.pointer {
    cursor: pointer;
}

.pointer-defaul {
    cursor: context-menu;
}