@import "../../../../styles/variables.less";

div {
    font-size: 12px;
}

.card-title {
    height: 0.4rem;
}

.card-body {
    color: @dark-blue;
}

.button-header {
    margin-right: 0.5rem;
}

.icon-user {
    height: 8rem;
}

.title {
    font-weight: bold;
}

.id-credit {
    font-size: 13px;
}

.badge {
    font-size: 11px!important;
    font-weight: normal;
    border-radius: 1.5rem;
    padding: 3.5px 10px;
}

.bg-strategy {
    background-color: @dark-gray;
    margin-right: 3px;
    min-width: 2rem;
}

.bg-product {
    background-color: @green-active;
    min-width: 10rem;
}

.bg-days {
    background-color: @secondary-color;
    width: 7rem;
}

.bg-property {
    background-color: @dark-gray;
    margin-right: 5px;
}

.bg-info {
    background-color: @light-gray!important;
}

.location {
    border-radius: 18px;
    text-align: center;
    justify-content: center;
}

.icon {
    height: 0.8rem;
    align-items: center;
}

.icon-header {
    height: 1rem;
    align-items: center;
}