<app-movable-card [initialX]="10" [initialY]="10" [paramWidth]="30">
    <div class="card-title">
        <div class="d-flex justify-content-between align-items-center">
            <b>Tarjeta de Contacto</b>
            <div>
                <img class="icon button-header" src="assets/icon/company_white.svg" alt="">
                <img class="icon-header button-header" src="assets/icon/contact_card_download.svg" alt=""
                    (click)="download()">
                <img class="icon-header button-header" src="assets/icon/contact_card_minimize.svg" alt=""
                    (click)="minimize()">
                <img class="icon-header button-header" src="assets/icon/contact_card_close.svg" alt=""
                    (click)="close()">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <div class="title id-credit">ID DE CRÉDITO : {{ infoUserCard?.AcreditadoNumCuen }}</div>
            <div>Identificación : {{ infoUserCard?.AcreditadoIdenti }}</div>
            <div>Nombre : {{ infoUserCard?.AcreditadoNom }}</div>
            <div>No. Acreditado : {{ infoUserCard?.AcreditadoNum }}</div>
            <div class="title">CIS : {{ infoUserCard?.CuentasCis }}</div>
        </div>
        <img class="icon-user" src="assets/icon/contact_card_user.svg" alt="icono desplegar">
    </div>

    <div class="col">
        <div class="title">Estrategia</div>
        <span class="badge bg-strategy" [ngClass]="{'bg-product': infoUserCard?.TipoEstrategiaNom === 'TDD'}">TDD</span>
        <span class="badge bg-strategy" [ngClass]="{'bg-product': infoUserCard?.TipoEstrategiaNom === 'TDC'}">TDC</span>
        <span class="badge bg-strategy" [ngClass]="{'bg-product': infoUserCard?.TipoEstrategiaNom === 'TOKENIZACION'}">TOKENIZACIÓN</span>
        <span class="badge bg-strategy" [ngClass]="{'bg-product': infoUserCard?.TipoEstrategiaNom === 'DESCUENTO DIRECTO'}">DESCUENTO DIRECTO</span>
    </div>

    <div class="row">
        <div class="col">
            <div class="title mt-2">Tipo de producto</div>
            <div class="col">
                <span class="badge bg-product">{{ infoUserCard?.TipoProductoNom }}</span>
            </div>
        </div>
        <div class="col">
            <div class="title mt-2">Dias de mora / Gaveta</div>
            <div class="col">
                <span class="badge bg-days">{{ infoUserCard?.CuentasDiasMoraGave }}</span>
            </div>
        </div>
    </div>

    <div class="title mt-2">Tipo de Predio</div>
        {{ infoUserCard?.TipoPredioNom }}
    <div>
        <span class="badge bg-property" [ngClass]="{'bg-days': infoUserCard?.TipoProductoCod == '1'}">Residencial</span>
        <span class="badge bg-property" [ngClass]="{'bg-days': infoUserCard?.TipoProductoCod == '2'}">Comercial</span>
        <span class="badge bg-property" [ngClass]="{'bg-days': infoUserCard?.TipoProductoCod == '3'}">Industrial</span>
    </div>

    <div class="title mt-2">Saldo de Producto</div>
    <div class="badge bg-product"><b>$ {{ infoUserCard?.CuentasSalPro }} USD</b></div>

    <div>
        <div class="bg-info mt-3 d-flex justify-content-between align-items-center"
            (click)="showInformationEmployment()">
            <div class="title">Información Laboral</div>
            <img class="icon button-header" [src]="'assets/icon/' + displayIconEmployment" alt="icono desplegar">
        </div>

        <div class="row" *ngIf="isVisibleInformacionEmployment">
            <div class="col">
                <b>Nombre:</b>
                <ul class="list-unstyled">
                    <li *ngFor="let laboral of infoUserCard?.Direcciones">
                        <ng-container *ngIf="laboral?.TipoDireccionCod == '2' || laboral?.TipoDireccionCod == '3'">
                            - {{ laboral.DireccionesLugTra }}
                        </ng-container>
                    </li>
                </ul>
            </div>
            <div class="col">
                <b>Teléfono:</b>
                <ul class="list-unstyled">
                    <li *ngFor="let laboral of infoUserCard?.Telefonos">
                        <ng-container *ngIf="laboral?.TipoTelefonoCod == '4'">
                            - ({{ laboral.TelefonoPre }}) {{ laboral.TelefonoNum }}
                        </ng-container>
                    </li>
                </ul>
            </div>
            <div class="col">
                <b>Dirección Laboral:</b>
                <ul class="list-unstyled">
                    <li *ngFor="let laboral of infoUserCard?.Direcciones">
                        <ng-container *ngIf="laboral?.TipoDireccionCod == '2' || laboral?.TipoDireccionCod == '3'">
                            - {{ laboral.Direccion }}
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="bg-info mt-3 d-flex justify-content-between align-items-center" (click)="showInformationPersonal()">
            <div class="title">Información Personal</div>
            <img class="icon button-header" [src]="'assets/icon/' + displayIconPersonal" alt="icono desplegar">
        </div>
        <div *ngIf="isVisibleInformacionPersonal">
            <div class="col"><b>Dirección Residencial:</b>
                <small *ngFor="let personal of infoUserCard?.Direcciones">
                    <p *ngIf="personal?.TipoDireccionCod == '1'">
                        {{ personal.Direccion }}
                    </p>
                </small>
            </div>
            <div class="col"><b>Teléfonos de Contacto:</b></div>
            <div class="col"><b>Móvil(es)</b>:</div>
            <div class="col">
                <small *ngFor="let personal of infoUserCard?.Telefonos">
                    <p *ngIf="personal?.TipoTelefonoCod == '1'">
                        - ({{ personal.TelefonoPre }}) {{ personal.TelefonoNum }}
                    </p>
                </small>
            </div>
            <div class="col"><b>Residencial(es)</b>:</div>
            <div class="col">
                <small *ngFor="let personal of infoUserCard?.Telefonos">
                    <p *ngIf="personal?.TipoTelefonoCod == '2' || personal?.TipoTelefonoCod == '3'">
                        - ({{ personal.TelefonoPre }}) {{ personal.TelefonoNum }}
                    </p>
                </small>
            </div>
            <div class="col"><b>Otros</b>:</div>
            <div class="col">
                <small *ngFor="let personal of infoUserCard?.Telefonos">
                    <p *ngIf="personal?.TipoTelefonoCod == '5'">
                        - ({{ personal.TelefonoPre }}) {{ personal.TelefonoNum }}
                    </p>
                </small>
            </div>
            <div class="col"><b>Email de contacto</b>:
                <div class="col" *ngFor="let personal of infoUserCard?.Correos; let i = index">{{ i + 1 }}. {{
                    personal.CorreoElec }}</div>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <div class="badge" [class]="isVisibleFarmsContactCard ? 'bg-green' : 'bg-days'"
            (click)="openAssociatedFarmsContactCard()">FINCAS ASOCIADAS</div>
    </div>

    <div class="bg-info location mt-3 d-flex justify-content-center align-items-center">
        <img class="icon" src="assets/icon/contact_card_location.svg" alt="">
        8.11127 , -80.97002
    </div>

</app-movable-card>