<!-- <div id="map"></div>
<app-toolbar></app-toolbar>
<app-toolbar-map-vertical
(resetMapEvent)="resetMap()"
(zoomInEvent)="zoomIn()"
(zoomOutEvent)="zoomOut()"
[zoomLevel]="zoomLevel"
(rangeChangeEvent)="onRangeChange($event)"
(locateUserEvent)="locateUser()"
>
</app-toolbar-map-vertical>
<app-statistics></app-statistics> -->

<!-- dasdsa -->


<div id="map"></div>

<app-statistics
  #stats
  [class.show]="showStatistics"
  class="statistics-container"
  (afterToggle)="onStatsToggled()"
></app-statistics>

<app-toolbar
[style.left.px]="toolbarLeftPx"
[style.bottom.px]="statisticsHeight + toolbarOffset"
></app-toolbar>

<app-toolbar-map-vertical
[style.right.px]="toolbarRightPx"
[style.bottom.px]="statisticsHeight + toolbarOffset"
  [zoomLevel]="zoomLevel"
  (resetMapEvent)="resetMap()"
  (zoomInEvent)="zoomIn()"
  (zoomOutEvent)="zoomOut()"
  (rangeChangeEvent)="onRangeChange($event)"
  (locateUserEvent)="locateUser()"
  (markPointEvent)="toggleMarkMode()"
></app-toolbar-map-vertical>



  

