@import "../../../styles/variables.less";

.sidebar {
  background-color: white;
  display: block;
  min-height: calc(100vh - 88px);
  margin: 0;
}

.icon-sidebar {
  height: 50px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

.descarga-sidebar {
  position: absolute;
  left: 64px;
  top: 0;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 0px 25px 25px 0px;
  display: none;
  min-width: 120px; 
  min-height: 50px; 
  width: auto; 
  height: 50px; 

  p {
    color: @secondary-color;
    font-weight: bold;
  }
}

.descarga-sidebar.show {
  display: block;
  white-space: nowrap;
}

.item-position {
  position: relative;
}