<div class="sidebar d-flex flex-column align-items-center">
    <button class="btn my-2">
        <img src="assets/icons/search.svg" alt="Buscar">
    </button>
    <button class="btn my-2">
        <img src="assets/icons/layer.svg" alt="Capas">
    </button>
    <button class="btn my-2">
        <img src="assets/icons/print.svg" alt="Imprimir">
    </button>
    <button class="btn my-2">
        <img src="assets/icons/download.svg" alt="Descargar">
    </button>
    <button class="btn my-2">
        <img src="assets/icons/chart.svg" alt="Estadísticas">
    </button>
</div>