@import 'bootstrap/dist/css/bootstrap.min.css';

html {
    background-color: rgb(28, 49, 117)!important;
}

body {
    font-family: "Century Gothic", sans-serif;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(148, 148, 148) !important; 
}

.icon {
    cursor: pointer;
}
