@import "../../../../styles/variables.less";

.mapa-toolbar {
  bottom: 10vh;
  left: 97%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1vmin 0.5vmin; 
  border-radius: 3vmin;   
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.icon-tool {
  height: 2.8vmin;       
  margin-bottom: 0px; 
  cursor: pointer;
}

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vmin;   
  height: 15vmin; 
  padding: 0;
  margin: -2vmin; 
}

input[type="range"] {
  padding: 0px;
  margin: 0px;
  transform: rotate(-90deg);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: grab;
  height: 4vmin;  
  width: 10vmin;   
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: @light-gray;
  border-radius: 1.8rem;
  height: 0.6vmin; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.4vmin;
  background-color: @primary-color;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  height: 1.6vmin; 
  width: 1.6vmin;  
}
