<div class="sidebar d-flex flex-column align-items-center">
    <ul class="mt-4">
        <li *ngFor="let img of imagesDefault" class="item-position">
            <ng-container *ngIf="img.allow?.includes(paramsUser)">
                <img class="icon-sidebar mb-2 img-fluid" [src]="'assets/icon/' + img.image + '_' + img.type + '.svg'" (click)="onChangeImage(img.id, img.type)" (keydown)="onChangeImage(img.id, img.type)" [alt]="img.label">
    
                <div class="window-sidebar show" *ngIf="activeIndex === img.id">
                    <p class="label-image" (click)="openDialog(img)" (keydown)="openDialog(img)">
                        {{ img.label }}
                    </p>
                </div>

            </ng-container>
        </li>
    </ul>
</div>
