@import "../../../../styles/variables.less";

.sidebar {
  background-color: white;
  display: block;
  max-height: 80dvh;
  margin: 0;
}

.icon-sidebar {
  height: 6.5dvh;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

.window-sidebar {
  position: absolute;
  left: 115%;
  top: 0;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 0px 25px 25px 0px;
  min-width: 120px;
  width: auto;
  height: 5.5dvh;

  /* Flex para centrar */
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}


.label-image {
  color: @secondary-color;
  font-weight: bold;
  cursor: pointer;
}

.window-sidebar.show {
  display: flex;
  white-space: nowrap;

  p {
    margin: 0px;
  }

  @media (min-width: 480px) and (max-width: 1199px) {
    p {
      font-size: 13px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    p {
      font-size: 14px;
    }
  }
}

.item-position {
  position: relative;
}

@media (min-width: 768px) {
  .icon-sidebar {
    height: 5dvh;
  }
}

@media (min-width: 1200px) {
  .icon-sidebar {
    height: 5.4dvh;
  }
}
