@import '../../../../styles/variables.less';

.sidebar {
  background-color: white;
  display: block;
  max-height: 80dvh;
  margin: 0;
}

.icon-sidebar {
  height: 3rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

.window-sidebar {
  position: absolute;
  left: 115%;
  top: 0;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 0px 25px 25px 0px;
  display: none;
  min-width: 120px;
  min-height: 50px;
  width: auto;
  height: 50px;
}

.label-image {
  color: @secondary-color;
  font-weight: bold;
  cursor: pointer;
}

.window-sidebar.show {
  display: block;
  white-space: nowrap;
}

.item-position {
  position: relative;
}

@media (min-width: 768px) {
  .icon-sidebar {
    height: 2.4rem;
  }
}

@media (min-width: 1200px) {
  .icon-sidebar {
    height: 3rem;
  }
}