@import "../../../../styles/variables.less";

.card {
  position: absolute;
  z-index: 1000;
  max-width: 40vw;
  max-height: 70vh; 
  min-width: 8rem;
}

.card-header {
  background-color: @secondary-color;
  border-color: @secondary-color;
}

.card-footer {
  background-color: @secondary-color;
  border-color: @secondary-color;
  padding: 0px;
  margin: 0px;
}

.card-body {
  max-height: 32rem;
  overflow-y: auto;
}
