@import "../../../../styles/variables.less";

.card {
    position: absolute;
    z-index: 1000;
    max-width: 30rem;
    min-width: 10rem;
}

.card-header {
    background-color: @secondary-color;
    border-color: @secondary-color;
}

.card-body {
    max-height: 32rem;
    overflow-y: auto;
}