<div class="mapa-toolbar d-flex flex-column align-items-center">
  <ul>
    <li *ngFor="let img of imagesDefault">
      <div>
        <img
          class="icon-tool"
          [src]="'assets/icon/' + img.image + '.svg'"
          [alt]="img.image"
        />
      </div>
    </li>
    <img class="icon-tool" src="assets/icon/toolbar_vertical_maximize.svg" alt="maximize" (click)="zoomIn()"
    />
    <div class="slidecontainer">
      <input type="range" min="3" max="18" class="range icon-tool" [(ngModel)]="zoomLevel" (input)="onRangeChange($event)" />
    </div>
    <img class="icon-tool" src="assets/icon/toolbar_vertical_minimize.svg" alt="minimize" (click)="zoomOut()"
    />
  </ul>
</div>
